body{
    background-color:lavenderblush;
}
canvas {
    margin: auto;
    background: #ececec;
    width: 100%;
    min-width: 350px;
    min-height: 300px;
  }

  .btn-disabled {
    color: #fff !important;
  }

.Left {
    float: left;
    text-align: center;
}

.Right {
  float: right;
  text-align: center;
}